/* FUNZIONALITÀ */
:root{
    --header-bgc: white;
    --sidebar-bgc: var(--darker-blue);
    --blue: #1b72e8;
    --darker-blue: #051e34;
    --dark-blue: #165bba;
    --grey: #e5e5e5;
    --dark-grey: #666666;
    --debug: #c58af9;

    --h-header: 56px;
    --h40: 40px;

    
    --font-size-s:0.6rem;
    --font-size-m:0.8rem;
    --font-size-l:1.5rem;
    --font-size-xl:2rem;
    --font-size-xxl:3.5rem;
    --font-size-xxxl:5rem;
}

/* TODO centratura con flex da modificare */
.flex-centered{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

/* TODO bordi e altezze da rimuovere */
.b-l{
    /* border: 3px solid var(--debug); */
}
.b-m{
    /* border: 2px solid var(--debug); */
}
.b-s{
    /* border: 1px solid var(--debug); */
}
.b-x{
    border: 1px dashed var(--debug);
}
.fs-xs{
    font-size: 0.7rem;
}
.h20{
    height: 200px!important;
}
.h10{
    height: 50px;
}
/* margine "start" negativo */
.ms-neg{
    position: relative;
    left: -3px;
}

/* TODO immagine fluida */
img{
    max-width: 100%;
    display: block;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

span{
    display: inline-block;
}

a{
    color: white;
    text-decoration: none   ;
}

.bgc-grey{
    background-color: var(--grey);
}

.bgc-dark-grey{
    background-color: var(--dark-grey);
}

.bgc-dark-blue{
    background-color: var(--dark-blue);
}

/* effetti */
/* focus barra di ricerca */
.form-control:focus{
    border: 1px solid #53a1ff;
    outline: 0;
    box-shadow: inset 0 0 5px var(--dark-grey);
}

/* header */
/* header principale */
main + header{
    height: var(--h-header);
}

/* dropdown */
.dropdown-toggle{
    border: none;
    background-color: transparent;
}

.dropstart .dropdown-toggle:before{
    display: none;
}

.dropstart .dropdown-menu[data-bs-popper] {
    top: 25px;
    right: 10px;
}


/* header secondario */
.main-section header{
    background-color: var(--blue);
}

.input-group-text{
    color: white;
    border-color: var(--dark-grey);
}

/* parte destra */
.fa-bell{
    color: #ff8f00;
}

.menu-lg{
    margin: 0 1rem;
    color: #5b5858;
}

/* main */
.main-section{
    height: calc(100vh - var(--h-header));
    overflow-y: auto;
}

.circle-pill{
    padding: 0.25em 0.40em;
}

header .rounded-pill{
    background-color: var(--dark-blue);
    font-size: 0.7rem;
    font-weight: 500;
}

/* !TABELLA */
tr *:not(:first-child){
    text-align: center;
}

th:not(:first-child){
    max-width: 105px;
}

td{
    min-height: 55px;
}

/* sidebar */
.upper-sidebar{
    height: calc(100vh - (var(--h-header) + var(--h40)));
    padding: 10px;
}

.footer-sidebar{
    height: var(--h40);
    padding:0 10px;
}

.upper-sidebar li,
.footer-sidebar li{
    margin: 10px 0;
    justify-content: center;
    align-items: center;
}

.upper-sidebar i,
.footer-sidebar i{
    width:20px;
}

.upper-sidebar span,
.footer-sidebar span{
    padding-left: 10px;
    width: 70px;
    text-align: left;
}

/* Ultima card */
.card-link{
    color: rgb(13,110,253);
}

/* ? sidebar e allargamento sidebar */
.sidebar{
    background-color: var(--sidebar-bgc);
    flex:0 0 60px;
    background-image: url(../img/sidebar-bg.png);
    /*! background-image: contain; */
}

@media screen and (min-width: 992px){
    .sidebar{
        background-color: var(--sidebar-bgc);
        flex:0 0 150px;
    }
}


